{% extends 'base.html' %}

{% block content %}
    
<style>
    
    body {
        background-image: linear-gradient(#1e415e 10%, #2b5b84 90%);
    }
    
    </style>
    
    <link rel="stylesheet" href="/static/css/services-style.css">

    
    <div class="services-wrapper"> 
        <section class="services-list">
            <div class="services-cont">
                <h2>Delete services</h2>
                <p>Are you sure you want to delete the services "{{ service.title }}"?</p>
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Delete</button>
                    <a href="{% url 'services_list' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </section>
    </div>
        
        <div class="copyright_section">
            <p class="copyright_text">Copyright 2023 All Right Reserved By Snipe Tech Pvt Ltd</p>
         </div>
    {% endblock %}
    