{% extends 'base.html' %}

{% block content %}

<style>
    body {
        background-image: linear-gradient(#1e415e 10%, #2b5b84 90%);
    }

    .component-main {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10%;
    }

    .component-header-title {
        width: 50%;
    }

    .create-component-button {
        width: 50%;
        float: right;
        text-align: right;
        margin-right: 1.42%;
    }

    .no-data-section {
        width: 100%;
        text-align: center;
    }

    .no-data-section h2 {
        color: white;
    }

    .component-header {
        display: inline-flex;
        width: 100%;
        margin-bottom: 10px;
    }

    .component-header h2 {
        color: #ffffffb2;
        font-weight: bold;
    }

    .components {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: left;
        width: 100%;
    }

    .components-parent {
        width: 24%;
        border: 1px solid antiquewhite;
        padding: 10px;
        margin-bottom: 20px;
        margin-right: 10px;
    }

    .component-tile {
        padding: auto;
        text-align: center;
    }

    .component-tile-image {
        text-align: left;
    }

    .component-tile-image img {
        max-width: 75px;
        height: 75px;
        border: 1px solid aliceblue;
    } 

    .component-tile-header {
        height: 30px;
        background-color: #21629b57;
        margin-top: 10px;
        padding: 0px 10px;
        overflow: scroll;
    }

    .component-tile-header h3 {
        color: white;
        text-align: left;
    }

    .component-tile-description {
        height: 100px;
        background-color: #5a89b363;
        margin-top: 10px;
        padding: 0px 10px;
        overflow: scroll;
        overflow-x: hidden;
        text-align: left;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .component-tile-description span {
        font-size: 12px;
        font-weight: 200;
        margin: 0;
        color: white;
    }

    .component-action-buttons {
        text-align: left;
    }

    .edit-button {
        width: 49%;
    }

    .delete-button {
        width: 49%;
    }

</style>

    <div class="component-main">
        <div class="component-header">
            <div class="component-header-title">
                <h2>Components</h2>
            </div>
            {% if user.is_authenticated and user.is_staff %}
            <div class="create-component-button">
                <a class="btn btn-success" href="{% url 'create_component' %}">Create New Component</a>
            </div> 
            {% endif %}
        </div>
        <!-- Iterate throught each component -->
        <div class="components">
            {% if components %}
                {% for component in components %}
                    <div class="components-parent">
                        <div class="component-tile">
                            <div>
                                {% if component.photo %}
                                    <div class="component-tile-image">
                                        <img src="{{ component.photo.url }}" alt="{{ component.title }}">
                                    </div>
                                {% endif %}
                                <div class="component-tile-header">
                                    <h3>{{ component.title }}</h3>
                                </div>
                                <div class="component-tile-description">
                                    <span>{{ component.description }}</span>
                                </div>
                                {% if user.is_authenticated and user.is_staff %}
                                <div class="component-action-buttons">
                                    <a class="btn btn-secondary edit-button" href="{% url 'update_component' component.id %}">Edit</a>
                                    <a class="btn btn-danger delete-button" href="{% url 'delete_component' component.id %}">Delete</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %} 
                <div class="no-data-section">
                    <h2>NO COMPONENTS ADDED</h2>
                </div>
            {% endif %}
         </div>
    </div>


<div class="copyright_section">
    <p class="copyright_text">Copyright 2023 All Right Reserved By Snipe Tech Pvt Ltd</p>
 </div>

{% endblock %}
